# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
_docker-compose.yml
/__pycache__/
src/generate.txt
src/mongo_logfile
src/mysql_logfile.txt
*.xml
*.iml
